ul,h1,h2{
	margin:0;
font-family: PT Sans Narrow;
	font-size:  24px;
	text-transform: uppercase;
}

.page-title {
	font-family: PT Sans Narrow;
	font-size:  30px;
	text-transform: uppercase;
	margin-bottom:24px;
	margin-top:-6px;

	/*Grid*/
	display: block;
	outline:1px solid red;
	min-height: 10px;
}

.breadcrumbs{
	margin-bottom: 54px;

	/*Grid*/

	outline:1px solid red;
	height: 15px;

}

.content-title {

	margin-bottom: 56px;

		/*Grid*/
	
	outline:1px solid red;
	min-height: 50px;
}

.price-content {
	margin-bottom: 50px;
	outline:1px solid pink;

}

.price-content-right {


	float:right;
	width:460px;

	outline:1px solid yellow;
	min-height: 230px;


}

.price-content-left {
	float:left;
	width:400px;

	outline:1px solid yellow;
	min-height: 230px;

}

.price-about {

	float:left;
	width:380px;
	margin-right: 80px;
	padding:30px 5px 5px;

	outline:1px solid yellow;
	min-height: 100px;
	

}

.price-about-title,price-content-title{
	outline:1px solid red;
	min-height: 20px;

}
.price-content-title{

	width: 70%;
}

.shop-content-left {
	float:left;
	width:210px;
	margin-right:20px;


	outline:1px solid yellow;
	min-height: 620px;
}

.shop-content-right {
	float:left;
	width:720px;


	margin-right:-10px;
	margin-top: -10px;

	outline:1px solid yellow;
	min-height: 685px;
}
.shop-product {
	float:left;
	width:220px;
	border:10px solid grey;

	outline:1px solid #DB0800;
	min-height: 290px;

}
.page-slider{
	float: left;
	width: 700px;
	margin-top: 25px;
	padding:5px;

	outline:1px solid #AB4533;
	min-height: 35px;

}
footer.shop {
	margin-top: 50px;
}
footer.item{
	margin-top: 20px;
}
img {
	box-sizing: border-box;
}

.item-gallery{
	float: left;
	width: 460px;
	margin-left:-10px;
	border:10px solid grey;

	
	outline:1px solid #AB4533;
	min-height: 680px;
}

.item-discription{
	float: right;
	width: 380px;
	padding:10px;
	padding-top: 20px;

	
	outline:1px solid #AB4533;
	min-height: 600px;

}

.item-status{
	float:left;
}
.item-articul{
	float: right;
}
.item-shop{
	margin-bottom: 35px;
}

.item-text{
	margin-bottom: 40px;

	min-height: 139px;
	outline:1px solid #AB4533;
}

.product-buy{
	width: 290px;

	min-height: 45px;
	outline:1px solid #AB4533;

}
.item-includes{
	display: block;
	margin-top: 60px;
	margin-bottom:45px;
}
.item-list {

	outline:1px solid #AB4533;

}