ul,h1,h2{
	margin:0;
font-family: PT Sans Narrow;
	font-size:  24px;
	text-transform: uppercase;
}

.page-title {
	font-family: PT Sans Narrow;
	font-size:  30px;
	text-transform: uppercase;
	margin-bottom:24px;
	margin-top:-6px;

	/*Grid*/
	display: block;
	outline:1px solid red;
	min-height: 10px;
}

.breadcrumbs{
	margin-bottom: 54px;

	/*Grid*/

	outline:1px solid red;
	height: 15px;

}

.content-title {

	margin-bottom: 56px;

		/*Grid*/
	
	outline:1px solid red;
	min-height: 50px;
}

.price-content {
	margin-bottom: 50px;
	outline:1px solid pink;

}

.price-content-right {


	float:right;
	width:460px;

	outline:1px solid yellow;
	min-height: 230px;


}

.price-content-left {
	float:left;
	width:400px;

	outline:1px solid yellow;
	min-height: 230px;

}

.price-about {

	float:left;
	width:380px;
	margin-right: 80px;
	padding:30px 5px 5px;

	outline:1px solid yellow;
	min-height: 100px;
	

}

.price-about-title,price-content-title{
	outline:1px solid red;
	min-height: 20px;

}
.price-content-title{

	width: 70%;
}

.shop-content-left {
	float:left;
	width:210px;
	margin-right:20px;


	outline:1px solid yellow;
	min-height: 620px;
}

.shop-content-right {
	float:left;
	width:700px;
	padding:0 10px;
	margin-right:-10px;
	margin-top: -10px;

	outline:1px solid yellow;
	min-height: 690px;
}