html,
body {
	min-width: 1122px;
	min-height: 1750px;
	margin: 0;
	padding: 0;

}

article p,a,li,h3,h4,input,button,form, .footer-contacts,.price{
	display: none;
}



body {

	background-color: white;
   /* background-image: url("../img/bg.jpg");
    background-repeat: no-repeat;
    background-position: center top;
    */


}

.main-header {
	margin-bottom: 60px;

	/*Grid*/

	outline: 1px solid green;
}

.clearfix::after {
	content: "";
	display: table;
	clear: both;
}
.container {
	width:940px;
	padding:0 10px;
	margin: 0 auto;
	
	/*Grid*/

	outline: 1px solid pink;
}

.main-navigation{
	float: left;
	width: 780px;

	/*Grid*/
	
	min-height: 70px;
	outline: 1px solid yellow;
}

.user-block {
	float: right;
	width: 140px;

	/*Grid*/
	
	min-height: 70px;
	outline: 1px solid yellow;
}

.index-logo{
	width: 368px;
	height: 204px;
	margin-right: auto;
	margin-left: auto;
	margin-bottom: 25px;

	/*Grid*/

	outline: 1px solid yellow; 
}
.features{
	margin-bottom: 80px;
}
.features-item {
	float: left;
	width: 300px;
	margin-right: 20px;

	/*Grid*/
	min-height: 175px;
	outline: 1px solid blue;

}

.features-item:last-child {
	margin-right: 0px;
}

.index-content{
	padding: 40px 80px;
	margin-bottom: 35px;
	outline: 1px solid pink ;
}

.index-content-left{
	float:left;
	width:380px;

	/*Grid*/
	min-height: 330px;
	outline: 1px solid orange ;
}

.index-content-right{
	float: right;
	width:300px;
	
	/*Grid*/
	min-height: 330px;
	outline: 1px solid orange;
}
.main-footer {
	margin-top: 65px;
	padding-top:60px;
	padding-bottom:40px;

	outline: 1px solid green;

}


.footer-contacts {
	float: left;
	width: 320px;
	margin-right: 60px;

		/*Grid*/
	
	min-height: 90px;
	outline: 1px solid yellow;
}

.footer-social {
	float: left;
	width: 180px;

		/*Grid*/
	
	min-height: 90px;
	outline: 1px solid yellow;
}

.footer-copyright {
	float: right;
	width: 180px;

		/*Grid*/
	
	min-height: 90px;
	outline: 1px solid yellow;
}